.third__section {
    display: flex;
    width: 1100px;
    margin: 50px 0px 0px 0px;
}

.project__title {
    margin: 10px 0px 0px 95px;
    color: lightblue;
}

.expences__chart {
    background-image: url(./ExpencesСhart.png);
    background-color: gray;
    width: 525px;
    height: 370px;
}

.expences__chart__components {
    width: 700px;
    margin-left: 70px;
}

article > p {
    width: 450px;
    margin: 40px 0px 30px 20px;
    font-size: 17px;
}

.project__list {
    list-style-type: disc;
    margin-left: 0px;
    width: 400px;
}

.project__button {
    margin: 30px 0px 20px 130px;
    height: 60px;
    width: 150px;
}

.project__button__text {
    height: 20px;
    width: 140px;
}

.link:hover {
    color: rgb(19, 25, 104);
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: lightblue;
    font-weight: 600;  
}
